// BASE SETTINGS AND UTILS
@import './base/fonts';
@import './utils/variables';
@import './utils/mixins';
@import './utils/hidden';
@import './utils/breakpoints';
@import './base/common';
@import './base/reset';

// COMPONENTS
@import './components/containers';
@import './components/logo';
@import './components/buttons';
@import './components/backdrop';
@import './components/contacts-map-modal';
@import './components/contacts-franchise-modal';

// LAYOUTS
@import './layout/header-section';
@import './layout/hero-section';
@import './layout/products-section';
@import './layout/about-section';
@import './layout/advantages-section';
@import './layout/gallery-section';
@import './layout/customer-reviews-section';
@import './layout/contacts-section';
@import './layout/footer-section';


