:root {
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-other: #907e82;
  --text-color-titles: #d41443;
  --text-color-labels: #ffa5ba;

  --background-color-primary: #ffffff;
  --background-color-secondary: #fff5f6;
  --background-color-other: #ffb8ca;
  --background-menu-container: rgba(255, 184, 202, 0.6);
  --background-mobile-menu: #E17992;
  --streak-color-mobile-menu: #E18298;

  --decorative-color: #ffa5ba;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

