:root {
  --text-color-primary: #000000;
  --text-color-secondary: #ffffff;
  --text-color-other: #907e82;
  --text-color-titles: #d41443;
  --text-color-labels: #ffa5ba;

  --background-color-primary: #ffffff;
  --background-color-secondary: #fff5f6;
  --background-color-other: #ffb8ca;

  --decorative-color: #ffa5ba;
}
