<div class="backdrop is-hidden" data-modal-about>
  <div class="modal about__modal">
    <div class="modal__container">
      <button class="modal__close-botton" type="button" data-modal-about-close>
        <svg class="modal__icon-cross">
          <use
            href="./images/svg-images/svg-sprite.svg#icon-close-button"
          ></use>
        </svg>
      </button>
      <h2 class="modal__title">HOW IT’S MADE?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam sed
        itaque illo, repellendus culpa deserunt fugit enim. Placeat vitae
        cupiditate ex temporibus rem adipisci ratione, reprehenderit, deserunt,
        optio nobis facilis! Architecto inventore ab perspiciatis libero
        voluptatem cumque! Voluptates fuga aliquid sunt illum esse repudiandae
        magni, fugiat, obcaecati, ratione nostrum soluta doloremque quis debitis
        modi minus nulla repellendus. Nihil, commodi quos. Esse libero rerum,
        labore hic nobis optio quidem! Magni optio adipisci doloremque aliquid
        quae nihil laboriosam cumque ratione sed rerum magnam veniam possimus
        inventore obcaecati sequi, iusto doloribus perspiciatis. Assumenda!
        Nesciunt officia quidem minus soluta voluptatibus corporis nulla
        assumenda voluptates aspernatur, fuga dolores, libero distinctio neque
        porro saepe inventore! Doloremque, eligendi fugit facilis fuga iste
        alias facere at repellat dolorum.
      </p>
    </div>
  </div>
</div>
