<section class="about section" id="about">
    <div class="container">
        <p class="about__title-lable label">tradition and love</p>
        <h2 class="about__title title">how it’s made?</h2>
        <div class="about__card">
            <div class="about__card-image">
                <picture>
                    <source  srcset="/src/images/about/cow-and-cup-of-milk-desktop.png,
                                     /src/images/about/cow-and-cup-of-milk-desktop-@2x.png "
                              media="(min-width: 1200px)"/>
      
                    <source   srcset="/src/images/about/cow-and-cup-of-milk-tablet.png,
                                      /src/images/about/cow-and-cup-of-milk-tablet-@2x.png "
                              media="(min-width: 768px)"/> 
      
                    <source  srcset="/src/images/about/cow-and-cup-of-milk-mobile.png,
                                     /src/images/about/cow-and-cup-of-milk-mobile-@2x.png"
                              media="(min-width: 480px)"/>
       -->
                    <img class="" 
                          src="/src/images/about/cow-and-cup-of-milk-desktop.png"
                          alt="фото молоко" 
                          width="501"/>
                </picture>
            </div>

            <div class="about__card-description">
                <p class="about__card-description-current">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. 
                    Nam vel justo cursus, faucibus lorem eget, egestas eros. 
                    Maecenas eleifend erat at justo fringilla.   
                </p>
                <p class="about__card-description-text">Curabitur lacinia enim at ex blandit, 
                    vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. 
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. 
                    Cras massa nibh,  tincidunt.
                    <br>
                    <br>Aliquam erat volutpat. Aenean accumsan.
                </p>

                <button type="button" class="about__button">Read more
                    <svg class="about__right-icon" width="11px" height="11px">
                        <use href="/src/images/svg-images/button-right.svg">

                        </use>
            
                      </svg>
                    </svg>

                </button>
            </div>

        </div>
    </div>
</section>