<div class="backdrop is-hidden" data-modal-location>
    <div class="modal modal-location">
        <div class="modal-location__container">
            <button class="modal__close-botton" type="button" data-modal-location-close>
                <svg class="modal__icon-cross">
                  <use href="./images/svg-images/svg-sprite.svg#icon-close-button"></use>
                </svg>
              </button>
                <h2 class="modal-location__title" data-aos="zoom-out-right">We are waiting for you</h2>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1177.0050790061598!2d30.514709453782363!3d50.45015071277798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5a20a95331%3A0xa98a913a48d9dc76!2z0YPQuy4g0JLQu9Cw0LTQuNC80LjRgNGB0LrQsNGPLCAzNSwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1660224276491!5m2!1sru!2sua"
                    class="modal-location__map"
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div>
    </div>
  </div>






