<div class="backdrop is-hidden" data-modal-franchise>
  <div class="modal franchise-modal">
    <div class="franchise-modal__container">
      <button class="modal__close-botton" type="button" data-modal-franchise-close>
        <svg class="modal__icon-cross">
          <use href="./images/svg-images/svg-sprite.svg#icon-close-button"></use>
        </svg>
      </button>
        <h2 class="modal__title">Our team</h2>
        <div class="team">
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/alexandra-pauk-300.jpg 1x, ./images/contacts/alexandra-pauk-600.jpg 2x" 
            src="./images/contacts/alexandra-pauk-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Oleksandra Pauk</h4>
            <p class="team__project" >Section - Contacts</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="https://github.com/AleksandraPauk">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="https://www.linkedin.com/mwlite/in/aleksandra-pauk-404903170">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="mailto:aleksandrapauk98@gmail.com">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/andrii-tkachov-300.jpg 1x, ./images/contacts/andrii-tkachov-600.jpg 2x" 
            src="./images/contacts/andrii-tkachov-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Andrii Tkachov</h4>
            <p class="team__project" >Scrum Master. Section - Header</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="mailto:a.g.tkachov@gmail.com">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/bishko-dmytro-300.jpg 1x, ./images/contacts/bishko-dmytro-600.jpg 2x" 
            src="./images/contacts/bishko-dmytro-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Dmytro Bishko</h4>
            <p class="team__project" >Section - Gallery</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="https://github.com/bishket">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/ihor-havrylov@1x.jpg 1x, ./images/contacts/ihor-havrylov@2x.jpg 2x" 
            src="./images/contacts/ihor-havrylov@1x.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Ihor Havrylov</h4>
            <p class="team__project" >Teamlead. Section - Advantages</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="https://github.com/i-havr">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="mailto:i.havrylov@gmail.com">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/ihor-berezhnyi.jpg 1x, ./images/contacts/ihor-berezhnyi-@2x.jpg 2x" 
            src="./images/contacts/ihor-berezhnyi.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Ihor Berezhnyi</h4>
            <p class="team__project" >Section - Hero</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="https://github.com/iberezhnyi">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="mailto:iberezhnyi@gmail.com">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/alexandra-pauk-300.jpg 1x, ./images/contacts/alexandra-pauk-600.jpg 2x" 
            src="./images/contacts/alexandra-pauk-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Oleksandra Pauk</h4>
            <p class="team__project" >Section - Contacts</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/alexandra-pauk-300.jpg 1x, ./images/contacts/alexandra-pauk-600.jpg 2x" 
            src="./images/contacts/alexandra-pauk-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Oleksandra Pauk</h4>
            <p class="team__project" >Section - Contacts</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/alexandra-pauk-300.jpg 1x, ./images/contacts/alexandra-pauk-600.jpg 2x" 
            src="./images/contacts/alexandra-pauk-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Oleksandra Pauk</h4>
            <p class="team__project" >Section - Contacts</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
          <div class="team__card">
            <img class="team__photo" 
            srcset="./images/contacts/alexandra-pauk-300.jpg 1x, ./images/contacts/alexandra-pauk-600.jpg 2x" 
            src="./images/contacts/alexandra-pauk-300.jpg" 
            alt="Aleksandra Pauk">
            <h4 class="team__name">Oleksandra Pauk</h4>
            <p class="team__project" >Section - Contacts</p>
            <ul class="team__social-network list">
              <li class="team__social-network-item">
                <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-github">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
            <li class="team__social-network-item">
              <a class="team__social-network-link" href="#">
                <svg class="team__social-network-icon">
                  <use href="./images/svg-images/svg-sprite.svg#icon-email">
                  </use>
                </svg>
              </a>
            </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>