<section class="contacts section contacts__section" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
  <ul class="contacts__list list">
    <li class="contacts__card">
      <div class="contacts__wrapper">
        <div class="contacts__box">
          <p class="contacts__name">CAFE</p>
          <h3 class="contacts__city">Chicago</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__box">
          <p class="contacts__schedule">Monday - Friday</p>
          <p class="contacts__schedule contacts__schedule--pink">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
          <p class="contacts__schedule">Saturday - Sunday</p>
          <p class="contacts__schedule contacts__schedule--pink">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <div class="contacts__box">
          <address class="contacts__address">
            <a class="contacts__address-item link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__address-item link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </div>
    </li>
    <li class="contacts__card">
      <div class="contacts__wrapper">
        <div class="contacts__box">
          <p class="contacts__name contacts__name--green">FOODTRUCK</p>
          <h3 class="contacts__city">Los Angeles</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__box">
          <p class="contacts__schedule">Monday - Friday</p>
          <p class="contacts__schedule contacts__schedule--pink">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
          <p class="contacts__schedule">Saturday - Sunday</p>
          <p class="contacts__schedule contacts__schedule--pink">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <div class="contacts__box">
          <address class="contacts__address">
            <a class="contacts__address-item link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__address-item link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </div>
    </li>
    <li class="contacts__card">
      <div class="contacts__wrapper">
        <div class="contacts__box">
          <p class="contacts__name">CAFE</p>
          <h3 class="contacts__city">New York</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__box">
          <p class="contacts__schedule">Monday - Friday</p>
          <p class="contacts__schedule contacts__schedule--pink">
            <time>06:00</time> AM - <time>10:00</time> PM
          </p>
          <p class="contacts__schedule">Saturday - Sunday</p>
          <p class="contacts__schedule contacts__schedule--pink">
            <time>08:00</time> AM - <time>16:00</time> PM
          </p>
        </div>
        <div class="contacts__box">
          <address class="contacts__address">
            <a class="contacts__address-item link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__address-item link"
              href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </address>
        </div>
      </div>
    </li>
  </ul>
  <div class="contacts__inner">
  <button class="contacts__button contacts__button--pink button-pink" type="button" data-modal-location-open>
    Our Locations
    <svg class="contacts__button-img contacts__button-img--white">
      <use href="./images/svg-images/svg-sprite.svg#icon-arrow-button"></use>
    </svg>
  </button>
  <button class="contacts__button contacts__button--white button-white" data-modal="franchise" type="button" data-modal-franchise-open>
    Franchise
    <svg class="contacts__button-img contacts__button-img--pink">
      <use href="./images/svg-images/svg-sprite.svg#icon-arrow-button"></use>
    </svg>
  </button>
</div>
</div>
</section>
