<!-- CUSTOMER REVIEWS SECTION  -->
<section class="customer-reviews section">
    <div class="container">
        <div class="single-item">
            <div class="customer">
                <img class="customer__img"
                    srcset="./images/customer-reviews/girl-smiles-@2x.jpg 2x, ./images/customer-reviews/girl-smiles-@3x.jpg 3x"
                    src="./images/customer-reviews/girl-smiles.jpg" loading="lazy" alt="Girl smiles" width="85" height="85">
                <p class="customer__review">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <h2 class="customer__name">Emily, Los Angeles</h2>
            </div>
            <div class="customer">
                <img class="customer__img"
                    srcset="./images/customer-reviews/girl-thinks-@2x.jpg 2x, ./images/customer-reviews/girl-thinks-@3x.jpg 3x"
                    src="./images/customer-reviews/girl-thinks.jpg" loading="lazy" alt="Girl thinks" width="85" height="85">
                <p class="customer__review">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <h2 class="customer__name">Jessica, New York</h2>
            </div>
            <div class="customer">
                <img class="customer__img"
                    srcset="./images/customer-reviews/girl-waves-@2x.jpg 2x, ./images/customer-reviews/girl-waves-@3x.jpg 3x"
                    src="./images/customer-reviews/girl-waves.jpg" loading="lazy" alt="Girl waves" width="85" height="85">
                <p class="customer__review">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <h2 class="customer__name">Holly, Chicago</h2>
            </div>
        </div>
    </div>
</section>