<section class="gallery section">
  <h2 class="gallery_title visually-hiden">
    A gallery of funny ice cream images
  </h2>
  <div class="gallery_container container">
    <ul class="gallery_list list">
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/green-ice-cream-mobile.jpg"
          alt="green-ice-cream"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/ice-cream-in-hand-mobile.jpg"
          alt="ice-cream-in-hand"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/red-ice-cream-mobile.jpg"
          alt="red-ice-cream"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/lot-of-ice-cream-mobile.jpg"
          alt="lot-of-ice-cream"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/girl-and-ice-cream-mobile.jpg"
          alt="girl-and-ice-cream"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/decorating-ice-cream-mobile.jpg"
          alt="decorating-ice-cream"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile.jpg"
          alt="ice-cream-in-hand-outdoors"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile.jpg"
          alt="ice-cream-licks-dog"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/coffee-in-hand-mobile.jpg"
          alt="coffee-in-hand"
        />
      </li>
      <li class="gallery_item">
        <img
          class="gallery_image"
          src="./images/gallery/gallery-mobile/cake-on-cup-mobile.jpg"
          alt="cake-on-cup"
        />
      </li>
    </ul>
  </div>
</section>
