<section class="gallery section" id="gallery">
  <h2 class="gallery__title visually-hidden">Gallery</h2>
  <div class="gallery__container container">
    <ul class="gallery__list list">
      <li class="gallery__item gallery__column1">
        <a
          class="gallery__link"
          href="./images/gallery/gallery-desktop/green-ice-cream-full.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/green-ice-cream-desktop-webp.webp    1x,
                ./images/gallery/gallery-desktop/green-ice-cream-desktop-webp@2x.webp 2x,
                ./images/gallery/gallery-desktop/green-ice-cream-desktop-webp@3x.webp 3x,
                ./images/gallery/gallery-desktop/green-ice-cream-desktop.jpg          1x,
                ./images/gallery/gallery-desktop/green-ice-cream-desktop-@2x.jpg      2x,
                ./images/gallery/gallery-desktop/green-ice-cream-desktop-@3x.jpg      3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-tablet/green-ice-cream-tablet-webp.webp    1x,
                ./images/gallery/gallery-tablet/green-ice-cream-tablet-webp@2x.webp 2x,
                ./images/gallery/gallery-tablet/green-ice-cream-tablet-webp@3x.webp 3x,
                ./images/gallery/gallery-tablet/green-ice-cream-tablet.jpg          1x,
                ./images/gallery/gallery-tablet/green-ice-cream-tablet-@2x.jpg      2x,
                ./images/gallery/gallery-tablet/green-ice-cream-tablet-@3x.jpg      3x
              "
              media="(min-width: 768px) and (max-width: 1200px)"
            />
            <img
              class="gallery__image"
              srcset="
                ./images/gallery/gallery-mobile/green-ice-cream-mobile-webp.webp    1x,
                ./images/gallery/gallery-mobile/green-ice-cream-mobile-webp@2x.webp 2x,
                ./images/gallery/gallery-mobile/green-ice-cream-mobile-webp@3x.webp 3x,
                ./images/gallery/gallery-mobile/green-ice-cream-mobile.jpg          1x,
                ./images/gallery/gallery-mobile/green-ice-cream-mobile-@2x.jpg      2x,
                ./images/gallery/gallery-mobile/green-ice-cream-mobile-@3x.jpg      3x
              "
              src="./images/gallery/gallery-mobile/green-ice-cream-mobile.jpg"
              loading="lazy"
              alt="Green ice cream"
            />
          </picture>
        </a>
      </li>
      <li class="gallery__item gallery__column2">
        <ul class="list">
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/ice-cream-in-hand-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/ice-cream-in-hand-mobile.jpg"
                  loading="lazy"
                  alt="Ice cream in hand"
                />
              </picture>
            </a>
          </li>
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/red-ice-cream-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/red-ice-cream-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/red-ice-cream-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/red-ice-cream-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/red-ice-cream-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/red-ice-cream-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/red-ice-cream-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/red-ice-cream-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/red-ice-cream-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/red-ice-cream-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/red-ice-cream-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/red-ice-cream-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/red-ice-cream-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/red-ice-cream-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/red-ice-cream-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/red-ice-cream-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/red-ice-cream-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/red-ice-cream-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/red-ice-cream-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/red-ice-cream-mobile.jpg"
                  loading="lazy"
                  alt="Pink ice cream with fresh berries"
                />
              </picture>
            </a>
          </li>
        </ul>
      </li>
      <li class="gallery__item gallery__column3">
        <ul class="list">
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/lot-of-ice-cream-full.jpg "
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/lot-of-ice-cream-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/lot-of-ice-cream-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/lot-of-ice-cream-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/lot-of-ice-cream-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/lot-of-ice-cream-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/lot-of-ice-cream-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/lot-of-ice-cream-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/lot-of-ice-cream-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/lot-of-ice-cream-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/lot-of-ice-cream-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/lot-of-ice-cream-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/lot-of-ice-cream-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/lot-of-ice-cream-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/lot-of-ice-cream-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/lot-of-ice-cream-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/lot-of-ice-cream-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/lot-of-ice-cream-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/lot-of-ice-cream-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/lot-of-ice-cream-mobile.jpg"
                  loading="lazy"
                  alt="A lot of ice cream"
                />
              </picture>
            </a>
          </li>
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/girl-and-ice-cream-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/girl-and-ice-cream-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/girl-and-ice-cream-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/girl-and-ice-cream-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/girl-and-ice-cream-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/girl-and-ice-cream-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/girl-and-ice-cream-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/girl-and-ice-cream-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/girl-and-ice-cream-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/girl-and-ice-cream-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/girl-and-ice-cream-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/girl-and-ice-cream-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/girl-and-ice-cream-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/girl-and-ice-cream-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/girl-and-ice-cream-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/girl-and-ice-cream-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/girl-and-ice-cream-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/girl-and-ice-cream-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/girl-and-ice-cream-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/girl-and-ice-cream-mobile.jpg"
                  loading="lazy"
                  alt="Girls love ice cream"
                />
              </picture>
            </a>
          </li>
        </ul>
      </li>
      <li class="gallery__item gallery__column4">
        <ul class="list">
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/decorating-ice-cream-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/decorating-ice-cream-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/decorating-ice-cream-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/decorating-ice-cream-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/decorating-ice-cream-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/decorating-ice-cream-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/decorating-ice-cream-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/decorating-ice-cream-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/decorating-ice-cream-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/decorating-ice-cream-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/decorating-ice-cream-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/decorating-ice-cream-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/decorating-ice-cream-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/decorating-ice-cream-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/decorating-ice-cream-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/decorating-ice-cream-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/decorating-ice-cream-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/decorating-ice-cream-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/decorating-ice-cream-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/decorating-ice-cream-mobile.jpg"
                  loading="lazy"
                  alt="Fruit salad with ice cream and decoration"
                />
              </picture>
            </a>
          </li>
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/ice-cream-in-hand-outdoors-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-outdoors-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-outdoors-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-outdoors-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-outdoors-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-outdoors-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/ice-cream-in-hand-outdoors-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/ice-cream-in-hand-outdoors-mobile.jpg"
                  loading="lazy"
                  alt="Ice cream in hand outdoors"
                />
              </picture>
            </a>
          </li>
        </ul>
      </li>
      <li class="gallery__item gallery__column5">
        <ul class="list">
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/ice-cream-licks-dog-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/ice-cream-licks-dog-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/ice-cream-licks-dog-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/ice-cream-licks-dog-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/ice-cream-licks-dog-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/ice-cream-licks-dog-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/ice-cream-licks-dog-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/ice-cream-licks-dog-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/ice-cream-licks-dog-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/ice-cream-licks-dog-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/ice-cream-licks-dog-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/ice-cream-licks-dog-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/ice-cream-licks-dog-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/ice-cream-licks-dog-mobile.jpg"
                  loading="lazy"
                  alt="The dog licks the ice cream"
                />
              </picture>
            </a>
          </li>
          <li class="item">
            <a
              class="gallery__link"
              href="./images/gallery/gallery-desktop/coffee-in-hand-full.jpg"
            >
              <picture>
                <source
                  srcset="
                    ./images/gallery/gallery-desktop/coffee-in-hand-desktop-webp.webp    1x,
                    ./images/gallery/gallery-desktop/coffee-in-hand-desktop-webp@2x.webp 2x,
                    ./images/gallery/gallery-desktop/coffee-in-hand-desktop-webp@3x.webp 3x,
                    ./images/gallery/gallery-desktop/coffee-in-hand-desktop.jpg          1x,
                    ./images/gallery/gallery-desktop/coffee-in-hand-desktop-@2x.jpg      2x,
                    ./images/gallery/gallery-desktop/coffee-in-hand-desktop-@3x.jpg      3x
                  "
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    ./images/gallery/gallery-tablet/coffee-in-hand-tablet-webp.webp    1x,
                    ./images/gallery/gallery-tablet/coffee-in-hand-tablet-webp@2x.webp 2x,
                    ./images/gallery/gallery-tablet/coffee-in-hand-tablet-webp@3x.webp 3x,
                    ./images/gallery/gallery-tablet/coffee-in-hand-tablet.jpg          1x,
                    ./images/gallery/gallery-tablet/coffee-in-hand-tablet-@2x.jpg      2x,
                    ./images/gallery/gallery-tablet/coffee-in-hand-tablet-@3x.jpg      3x
                  "
                  media="(min-width: 768px) and (max-width: 1200px)"
                />
                <img
                  class="gallery__image"
                  srcset="
                    ./images/gallery/gallery-mobile/coffee-in-hand-mobile-webp.webp    1x,
                    ./images/gallery/gallery-mobile/coffee-in-hand-mobile-webp@2x.webp 2x,
                    ./images/gallery/gallery-mobile/coffee-in-hand-mobile-webp@3x.webp 3x,
                    ./images/gallery/gallery-mobile/coffee-in-hand-mobile.jpg          1x,
                    ./images/gallery/gallery-mobile/coffee-in-hand-mobile-@2x.jpg      2x,
                    ./images/gallery/gallery-mobile/coffee-in-hand-mobile-@3x.jpg      3x
                  "
                  src="./images/gallery/gallery-mobile/coffee-in-hand-mobile.jpg"
                  loading="lazy"
                  alt="Coffee with ice cream in hand"
                />
              </picture>
            </a>
          </li>
        </ul>
      </li>
      <li class="gallery__item gallery__column6">
        <a
          class="gallery__link"
          href="./images/gallery/gallery-desktop/cake-on-cup-full.jpg"
        >
          <picture>
            <source
              srcset="
                ./images/gallery/gallery-desktop/cake-on-cup-desktop-webp.webp    1x,
                ./images/gallery/gallery-desktop/cake-on-cup-desktop-webp@2x.webp 2x,
                ./images/gallery/gallery-desktop/cake-on-cup-desktop-webp@3x.webp 3x,
                ./images/gallery/gallery-desktop/cake-on-cup-desktop.jpg          1x,
                ./images/gallery/gallery-desktop/cake-on-cup-desktop-@2x.jpg      2x,
                ./images/gallery/gallery-desktop/cake-on-cup-desktop-@3x.jpg      3x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./images/gallery/gallery-tablet/cake-on-cup-tablet-webp.webp    1x,
                ./images/gallery/gallery-tablet/cake-on-cup-tablet-webp@2x.webp 2x,
                ./images/gallery/gallery-tablet/cake-on-cup-tablet-webp@3x.webp 3x,
                ./images/gallery/gallery-tablet/cake-on-cup-tablet.jpg          1x,
                ./images/gallery/gallery-tablet/cake-on-cup-tablet-@2x.jpg      2x,
                ./images/gallery/gallery-tablet/cake-on-cup-tablet-@3x.jpg      3x
              "
              media="(min-width: 768px) and (max-width: 1200px)"
            />
            <img
              class="gallery__image"
              srcset="
                ./images/gallery/gallery-mobile/cake-on-cup-mobile-webp.webp    1x,
                ./images/gallery/gallery-mobile/cake-on-cup-mobile-webp@2x.webp 2x,
                ./images/gallery/gallery-mobile/cake-on-cup-mobile-webp@3x.webp 3x,
                ./images/gallery/gallery-mobile/cake-on-cup-mobile.jpg          1x,
                ./images/gallery/gallery-mobile/cake-on-cup-mobile-@2x.jpg      2x,
                ./images/gallery/gallery-mobile/cake-on-cup-mobile-@3x.jpg      3x
              "
              src="./images/gallery/gallery-mobile/cake-on-cup-mobile.jpg"
              loading="lazy"
              alt="Ice cream cocktail with cake on top"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
