<!-- HEADER SECTION  -->
<header>
    <nav>
        <a href="#" class="logo">
            <!-- <img src="./images/svg-images/logo.svg" alt="Logo"> -->
            <svg class="logo__img" width="199" hight="50" aria-hidden="true">
                <use href="./images/svg-images/svg-sprite.svg#icon-logo"></use>
            </svg>
        </a>
        
        <button type="button">
            <svg width="20" hight="12">
                <use href="./images/svg-images/svg-sprite.svg#icon-menu-burger"></use>
            </svg>
        </button>
        <div class="menu-container">
            <button type="buttn">
                <svg width="" hight="">
                    <use href="./images/svg-images/svg-sprite.svg#icon-menu-close"></use>
                </svg>
            </button>
            <button type="button" class="button">Buy now
                <svg class="button-img" width="4" hight="8" aria-hidden="true">
                    <use href="./images/svg-images/svg-sprite.svg#icon-arrow-button"></use>
                </svg>
            </button>
            <ul class="site-navigation list">
                <li class="site-navigation__item link">Home</li>
                <li class="site-navigation__item link">About us</li>
                <li class="site-navigation__item link">How it's made?</li>
                <li class="site-navigation__item link">Our products</li>
                <li class="site-navigation__item link">Contact</li>
            </ul>
        </div>
    </nav>
</header>