<!-- HEADER SECTION  -->
<header class="header">
    <div class="container page-header">
        <a href="./index.html" class="logo">
            <svg class="logo__img" aria-hidden="true">
                <use href="../src/images/svg-images/svg-sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <div class="page-header__mobile-menu">
            <button class="mobile-menu-button js-open-menu" type="button" aria-expanded="false" aria-controls="menu-container">
                <svg class="mobile-menu-button__icon-open" aria-label="Switch-on mobile menu">
                    <use href="../src/images/svg-images/svg-sprite.svg#icon-menu-burger"></use>
                </svg>
            </button>
            <div class="menu-container js-menu-container" id="menu-container">
                <div class="menu-content">
                    <button class="mobile-menu-button mobile-menu-button__close js-close-menu" type="button" aria-expanded="true"
                        aria-controls="menu-container">
                        <svg class="mobile-menu-button__icon-close" aria-label="Switch-off mobile menu">
                            <use href="../src/images/svg-images/svg-sprite.svg#icon-menu-close"></use>
                        </svg>
                    </button>
                    <button class="page-header__button page-header__button--in-menu button-white" type="button">Buy now
                        <svg class="button-white__img" aria-hidden="true">
                            <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-button"></use>
                        </svg>
                    </button>
                    <nav class="site-navigation">
                        <ul class="site-navigation__list list">
                            <li class="site-navigation__item">
                                <a href="#hero" class="site-navigation__link link">Home</a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#contacts" class="site-navigation__link link">About us</a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#about" class="site-navigation__link link">How it's made?</a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#products" class="site-navigation__link link">Our products</a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#footer" class="site-navigation__link link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <button class="page-header__button page-header__button--outside-menu button-white" type="button">Buy now
                <svg class="button-white__img" aria-hidden="true">
                    <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-button"></use>
                </svg>
            </button>
        </div>
    </div>
</header>