<section class="section hero">
  <div class="hero__wrapper">
    <h1 class="title hero__title">
      Ice cream made with <span class="hero__title--red">passion</span>
    </h1>
    <ul class="list hero__outlet">
      <li class="title hero__outlet-item">
        16<br /><span class="hero__outlet-deskr">cafes</span>
      </li>
      <li class="title hero__outlet-item">
        23<br /><span class="hero__outlet-deskr">food trucks</span>
      </li>
    </ul>
  </div>
  <ul class="list hero__btns">
    <li class="hero__btn"><a class="link" href="">Products</a></li>
    <li class="hero__btn"><a class="link" href="">How it’s made?</a></li>
  </ul>
  <p class="hero__descr">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </p>
</section>
