<!-- HERO SECTION  -->
<section class="hero" id="hero">
  <div class="hero__overlay">
    <div class="container hero__container">
      <div class="hero__wrapper">
        <h1 class="title hero__title">
          Ice cream made with <span class="hero__title--red">passion</span>
        </h1>
        <ul class="list hero__outlet">
          <li class="title hero__outlet-item">
            16<br /><span class="hero__outlet-deskr">cafes</span>
          </li>
          <li class="title hero__outlet-item">
            23<br /><span class="hero__outlet-deskr">food trucks</span>
          </li>
        </ul>
      </div>
      <ul class="list hero__btns">
        <li class="hero__btn-item">
          <button class="button-pink hero__btn" type="button">Products</button>
        </li>
        <li class="hero__btn-item">
          <button class="button-white hero__btn" type="button">
            How it’s made?
          </button>
        </li>
      </ul>
      <div class="hero__descr">
        <p class="hero__descr-default">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <p class="hero__descr-expanded">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          molestiae commodi cumque dolorem quia illum esse dolores nihil,
          accusamus tenetur? Ipsa eum labore porro possimus quibusdam?
        </p>
      </div>
    </div>
  </div>
</section>
