<section class="products" id="products">
    <div class="container">
      <p class="products__subtitle">100% natural</p>
  
      <h2 class="products__title">products</h2>
  
      <ul class="products-list list">
        <li class="products-list__item ice-cream">
          <h3 class="products-list__title">ice cream</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
  
          <button type="button" class="products-list__btn" data-modal-open data-modal-close>
            <svg class="products-list__btn-icon">
              <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <div class="products-list__overlay" data-modal>
            <p>
            Lorem ipsum dolor sit asmet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
          </div>
        </li>
  
        <li class="products-list__item ice-coffee">
          <h3 class="products-list__title">ice coffee</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
  
          <button type="button" class="products-list__btn" data-modal-open data-modal-close>
            <svg class="products-list__btn-icon">
              <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <div class="products-list__overlay" data-modal>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            </p>
          </div>
        </li>
  
        <li class="products-list__item milkshakes">
          <h3 class="products-list__title">milkshakes</h3>
          <p class="products-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          </p>
  
          <button type="button" class="products-list__btn" data-modal-open data-modal-close>
            <svg class="products-list__btn-icon">
              <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <div class="products-list__overlay" data-modal>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
