<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>

    <h2 class="products__title">products</h2>

    <ul class="products-list list">
      <li class="products-list__item ice-cream">
        <h3 class="products-list__title">ice cream</h3>
        <input type="checkbox" class="read-more-state" id="post-1" />
        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          <span class="read-more-target">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.</span>
        </p>
        <label for="post-1" class="read-more products-list__btn">
          <svg class="products-list__btn-icon">
              <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-right"></use>
          </svg>
      </label>
      </li>

      <li class="products-list__item ice-coffee">
        <h3 class="products-list__title">ice coffee</h3>
        <input type="checkbox" class="read-more-state" id="post-2" />
        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          <span class="read-more-target">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.</span>
        </p>
        <label for="post-2" class="read-more products-list__btn">
          <svg class="products-list__btn-icon">
              <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-right"></use>
          </svg>
      </label>
      </li>

      <li class="products-list__item milkshakes">
        <h3 class="products-list__title">milkshakes</h3>
        <input type="checkbox" class="read-more-state" id="post-3" />
        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
          <span class="read-more-target">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.</span>
        </p>
        <label for="post-3" class="read-more products-list__btn">
          <svg class="products-list__btn-icon">
              <use href="../src/images/svg-images/svg-sprite.svg#icon-arrow-right"></use>
          </svg>
      </label>
      </li>
    </ul>
  </div>
</section>
