.button-pink {
  border: none;
  cursor: pointer;
  border-radius: 22px;
  background-color: var(--text-color-titles);
  color: var(--text-color-secondary);
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: #c7133e;
  }  
}

.button-white {
  border: none;
  cursor: pointer;
  border-radius: 22px;
  background-color: var(--text-color-secondary);
  color: var(--text-color-titles);
  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color:#ecebeb;
  }

  &__img {
    width: 10.52px;
    height: 16px;
    margin-left: 30px;
    fill: currentColor;
  }
}



.modal__cross {
  // width: 15px;
  // height: 15px;
  // position: absolute;
  // top: 20px;
  // right: 20px;
  fill: #444;
  cursor: pointer;
  
 

  
}

.model-close-button{
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover{background-color:#ecebeb;}
 
}