.advantages {
  padding-top: 40px;
  background-color: var(--background-color-secondary);

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.advantages__item {
  max-width: 230px;

  @media screen and (min-width: 768px) {
    max-width: 162px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 288px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 22px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 115px;
  }
}

.advantages__item:first-child::before {
  content: '';
  display: block;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages/bucket-milk.png);
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/advantages/bucket-milk-@2x.png);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__item:nth-child(2)::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages/bucket-apples.png);
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/advantages/bucket-apples-@2x.png);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__item:last-child::before {
  content: '';
  display: block;
  width: 44px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages/heart.png);
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/advantages/heart-@2x.png);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__title {
  margin-bottom: 16px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-titles);

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.15;
    text-transform: none;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
