.customer-reviews {
    padding-bottom: 0;
}

.customer {
    text-align: center;

    &__img {
        margin-left: auto;
        margin-right: auto;
    }

    &__review {
        padding: 30px 50px 17px 50px;
        font-size: 12px;
        line-height: 2.58;
    }
}