.mobile-menu-button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;

    &__icon-open {
        width: 20px;
        height: 12px;
        fill: black;
    }

    &__icon-close {
        width: 14px;
        height: 14px;
        fill: black;
    }
}