.mobile-menu-button {
    @include centeredFlex (inline-flex);
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;

    &__icon-open {
        width: 20px;
        height: 12px;
        fill: black;
    }

    &__icon-close {
        width: 14px;
        height: 14px;
        fill: black;
    }
}

.mobile-menu-button.js-open-menu .menu-container.js-menu-container {
    display: none;
}

// .button-menu .icon-close-menu {
//     display: none;
// }

.mobile-menu-button.js-close-menu .menu-container.js-menu-container {
    display: block;
}

// .button-menu.is-open .icon-close-menu {
//     display: block;
// }

// .button-menu.is-open .icon-open-menu {
//     display: none;
// }