.page-header {
    @include centeredFlex ($content: space-between);
}

.mobile-menu-button {
    @include centeredFlex (inline-flex);
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;

    background-color: transparent;
    cursor: pointer;

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__icon-open {
        width: 30px;
        height: 18px;
    }

    &__icon-close {
        width: 21px;
        height: 21px;
    }
}

.header__button {
    @include centeredFlex ();
    border: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
    width: 210px;
    height: 44px;
    text-align: center;
    border-radius: 22px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--text-color-titles);
    background-color: var(--background-color-primary);
}

.button__img {
    width: 10.52px;
    height: 16px;
    margin-left: 30px;
}

.menu-container {
    @media screen and (max-width: 767px) {
        display: none;

        &.is-open {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
    
            overflow-y: scroll;
    
            display: flex;
            flex-direction: column;

            background-color: var(--background-mobile-menu);
            padding: 60px 20px;
        }
    }
}

.site-navigation {
    &__item {
        padding-top: 13px;
        padding-bottom: 13px;
        border-bottom: 1px solid #E5E5E5;
    }

    &__item:first-child {
        border-top: 1px solid #E5E5E5;
    }

    &__link {
        display: inline-block;
        font-weight: 700;
        line-height: 1.29;
        
        color: var(--text-color-secondary);

        transition-property: color;
        // transition-timing-function: var(--timing-function);
        // transition-duration: var(--duration);
    }

    &__link:hover,
    &__link:focus {
        color: var(--text-color-titles);
    }
}