.products {
  padding-top: 120px;
  padding-bottom: 98px;

  &__subtitle {
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    font-family: 'Titan One';
    text-align: center;
    text-transform: uppercase;

    color: var(--text-color-labels);
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    font-family: 'Titan One';
    text-align: center;
    text-transform: uppercase;

    color: var(--text-color-titles);
  }
}

.products-list {
  margin-right: auto;
  margin-left: auto;
  &__title {
    position: relative;

    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-secondary);
    // color: var(--text-color-secondary);
  }

  &__description {
    text-align: center;
    letter-spacing: 0.04em;

    color: var(--text-color-secondary);
    
  }

  &__btn-icon {
    fill: currentColor;
    width: 15px;
    height: 15px;

    &:hover,
    &:focus {
      fill: white;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;

    color: #d41443;
    background-color: white;
    transition: background-color 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover,
    &:focus {
      background-color: #d41443;
      color: white;
    }
  }
}

.products-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  position: relative;

  transform: scale(1);
  transform: transform 250ms linear;

  box-shadow: 0px 4px 4px rgba(212, 20, 67, 0.1);
  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0px 8px 8px rgba(212, 20, 67, 0.1);
  }
  &.ice-cream {
    background-color: #ffb8ca;
    &::before {
      background-image: url(../images/products/ice-cream-mobile.png);
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream-mobile-@2x.png);
      }
    }
  }

  &.ice-coffee {
    background-color: #f0d1a5;
    &::before {
      background-image: url(../images/products/ice-coffee-mobile.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-coffee-mobile-@2x.png);
      }
    }
  }
  &.milkshakes {
    background-color: #c2e297;
    &::before {
      background-image: url(../images/products/milkshakes-mobile.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakes-mobile-@2x.png);
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

    top: 0%;

    transform: translate(0, -50%);
  }
}

@media screen and (min-width: 320px) {
  .products {
    &__subtitle {
      font-size: 18px;
      line-height: 1.17;
    }
    &__title {
      font-size: 34px;
      line-height: 1.15;
    }
  }
  .products-list {
    &__title {
      padding-bottom: 30px;

      font-size: 20px;
      line-height: 1.15;
    }

    &__description {
      margin-top: 30px;

      font-size: 14px;
      line-height: 1.52;
    }

    &__btn {
      margin-top: 30px;
    }
  }
  .products-list__item {
    margin-top: 130px;
    padding: 160px 42px 40px;

    &::before {
      width: 250px;
      height: 250px;
    }
  }
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
    &__subtitle {
      font-size: 26px;
      line-height: 1.46;
    }
    &__title {
      font-size: 48px;
      line-height: 1.15;
      
    }
  }
  .products-list {
    &__description {
      line-height: 1.18;
    }

    &__btn {
      margin-top: 40px;
    }
  }
  .products-list {
    display: flex;
    margin-left: -20px;
  }
  .products-list__item {
    margin-top: 150px;
    margin-left: 32px;

    padding: 150px 10px 40px 10px;

   

    &::before {
      width: 220px;
      height: 233px;
    }

    &.ice-cream {
      &::before {
        background-image: url(../images/products/ice-cream-tablet.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/ice-cream-tablet-@2x.png);
        }
      }
    }
    &.ice-coffee {
      &::before {
        background-image: url(../images/products/ice-coffee-tablet.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/ice-coffee-tablet-@2x.png);
        }
      }
    }
    &.milkshakes {
      &::before {
        background-image: url(../images/products/milkshakes-tablet.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/milkshakes-tablet-@2x.png);
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .products {
   
    &__subtitle {
      font-size: 30px;
      line-height: 1.13;
    }
    &__title {
      font-size: 58px;
      line-height: 1.13;
      
    }
  }
  .products-list {
    &__title {
      font-size: 30px;
      line-height: 1.13;
    }

    &__description {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.04em;
    }

    &__btn {
      margin-top: 60px;
    }
  }
  .products-list__item {
    margin-top: 281px;

    padding: 165px 60px 60px 60px;

    &::before {
      width: 368px;
      height: 394px;
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
  
      top: 0%;
  
      transform: translate(0, -67%);
      
    }
    &.ice-cream {
      &::before {
        background-image: url(../images/products/ice-cream-desktop-@2x.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/ice-cream-desktop-@2x.png);
        }
      }
    }
    &.ice-coffee {
      &::before {
        background-image: url(../images/products/ice-coffee-desktop.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/ice-coffee-desktop-@2x.png);
        }
      }
    }
    &.milkshakes {
      &::before {
        background-image: url(../images/products/milkshakes-desktop.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/milkshakes-desktop-@2x.png);
        }
      }
    }
  }
}

.products-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    padding: 40px 15px;
  
    visibility: hidden;
    overflow: auto;
  
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
  
    border-radius: 24px;
    
    background-color: #ffFFFF;
    color: var(--text-color-titles);
  
    transform: translateY(100%);
    transition: transform 250ms linear;
  
    &.is-hidden {
      opacity: 0.8;
      visibility: visible;
  
      transform: translateY(0%);
      transition: transform 250ms linear;
    }
  }

  